<!DOCTYPE html>
<html>
   
   <head>
      <title>Task Four</title>
      <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
      <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
      <%= csrf_meta_tags %>

      <style>
      	body{
      		background-color: #eceaea;
      	}
      	.foot{
      		text-align: center;
      	}
      	.tombol ul li{
      		display: inline-block;
      		text-align: center;
      	}
      
	  </style>
   </head>
   
   <body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Task Four</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <!-- Menu list here using 'ul' and 'li'-->
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
      <div class="container">
         <%= yield %>
      </div>

    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p class="foot">Copyright &copy; Training ROR 2017</p>
            </div>
        </div>
            <!-- /.row -->
        </footer>
   </body>

</html>